/* panel info */

.panel-info {
    border-color: #6441A4;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #6441A4;
    border-color: #6441A4;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #6441A4;
}

.panel-info>.panel-heading .badge {
    color: #9954bb;
    background-color: #ffffff;
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #6441A4;
}


/* other stuff */

.bigbox {
    margin-top: 2em;
}

.panel-success {
    margin-bottom: 0;
    border-bottom-color: #FF0039;
}

.panel-danger {
    margin-bottom: 0;
}

.panel-info {
    border: 0;
}

.profileImage {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 70px;
}

.panel-body {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.panel-body:hover {
    background: #f5f5f5;
}